body {
    display: flex;
    text-align: center;
    justify-content: center;
}

.input-message {
    width: 600px;
    height: 1000px;
}

.coordinates {
    width: 600px;
}

.warnings {
    height: 100%;
}